<html lang="en">
	<head>
		<title>RMS Admin</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="../assets/css/ace-fonts.css" />
		<link rel="stylesheet" href="../assets/css/ace.min.css" id="main-ace-style" />
		<link rel="stylesheet" href="../assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="../assets/css/ace-rtl.min.css" />
		<script src="../assets/js/ace-extra.min.js"></script>
		<script src="../assets/js/myjs.js"></script>
	</head>
	<body>

							<div class="row">
									<div class="col-xs-12">
										<h3 class="header smaller lighter blue">Add your MD</h3>
										<div class="table-header">
											填报人：Member&nbsp;&nbsp;&nbsp; 工作时间：2015.04
										</div>
									</div>
							</div>
							
							<div class="row">
									<div class="col-xs-12">
										<table id="sample-table-1" class="table table-striped table-bordered table-hover"> 
											<thead>
												<tr>
													<th class="center">
														<label class="position-relative">				
															<span class="lbl">Release</span>
														</label>
													</th>
													<th class="hidden-480">Project</th>
													<th class="hidden-480">Phase</th>
													<td class="hidden-480">03/17</td>
													<td class="hidden-480">03/18</td>
													<td class="hidden-480">03/19</td>
													<td class="hidden-480">03/20</td>
													<td class="hidden-480">03/21</td>
													<td class="hidden-480">03/22</td>
													<td class="hidden-480">03/23</td>
													<th class="hidden-480">Operation</th>
												</tr>
											</thead>
											<tbody>		
											</tbody>
										</table>
                   <div class="widget-toolbar no-border">
										 <P>
										 	  <span class="btn btn-info btn-sm tooltip-info" data-rel="tooltip" data-placement="bottom" title="Bottm Info" onClick="addRow()">Add Project</span>
												<span class="btn btn-info btn-sm tooltip-info" data-rel="tooltip" data-placement="bottom" title="Bottm Info" >Save</span>
												<span class="btn btn-info btn-sm tooltip-info" data-rel="tooltip" data-placement="bottom" title="Bottm Info">Save&Submit</span>  
										 </P>
                   </div>
										
									</div><!-- /.span -->
							</div><!-- /.row -->
	</body>
</html>