<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<!--================ Spring核心功能的基本载入========================== -->
	<!-- 配置spring上下文文件路径 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-*.xml</param-value>
	</context-param>

	<!--Spring的ApplicationContext载入 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Spring MVC核心功能载入 -->
	<servlet>
		<servlet-name>spring-mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup> 
	</servlet>
	<servlet-mapping>
		<servlet-name>spring-mvc</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!--======================spring过滤器 整合 ====================== -->
	<!-- 浏览器不支持put,delete等method,由该filter将/blog?_method=delete转换为标准的http delete方法 -->
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>spring-mvc</servlet-name>
	</filter-mapping>

	<!-- 字符编码过滤器强制转换 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 防XSS(跨站脚本),SQL注入 -->
	<filter>
		<filter-name>InjectFilter</filter-name>
		<filter-class>com.lenovo.rms.common.filter.InjectFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>InjectFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 登录 session 过滤 -->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.lenovo.rms.common.filter.LoginFilter</filter-class>
		<init-param>
			<param-name>listurl</param-name>
			<param-value>/login.jsp;/login</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 重新指定基本异常类型的报告页面 -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/to500</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/to500</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/to404</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/view/common/403.jsp</location>
	</error-page>

	<!--========================== spring 扩展监听====================== -->
	<!-- 防止多人登陆 ,控制一个用户只能登录一次，不能在其他地方重新登录 -->
	<listener>
		<listener-class>
			org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>
			org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>

	<!-- spring session 安全 -->
	<listener>
		<listener-class>
			org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<!-- session超时定义,单位为分钟 -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<!--====================== 其他============================ -->
	<display-name>rms</display-name>

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>rms.root</param-value>
	</context-param>
</web-app>